*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center_x-y{
  display: flex;
  justify-content: center;
  align-items: center;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
}

.wrap{
  flex-wrap: wrap;
}

.container {
  background-color: #7FFFD4;
  padding: 80px 0;
}